* {
    box-sizing: border-box;
}


/* HEADER SECTION*/

#header {
    height: 35%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
}

#header img {
    width: 100vw;
}

#title {
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64pt;
    color: #E7BD28;
    position: absolute;
    left: 15%;
    top: -5%;
}

#subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #8C6F05;
    position: absolute;
    left: 17%;
    bottom: 20%;
}

#searchForm {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

#searchForm img {
    width: 4.5%;
    position: absolute;
    top: 13%;
    left: 1%;
    z-index: 0;
}

#searchForm input[type=text] {
    width: 700px;
    height: 35px;
    border-radius: 50px;
    background: #ffffff;
    border: 1px solid #e7bd28;
    padding-left: 7%;
}


/* NOMINATIONS TAB */

#nom-tab {
    height: 100vh;
    width: 25%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background: linear-gradient(196.92deg, rgba(243, 191, 6, 1) 2.85%, rgba(230, 212, 149, 0.4256) 95.58%);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#nom-tab img {
    margin-top: 5%;
    margin-left: 5%;
}

.nom_card {
    margin-left: 20%;
    margin-bottom: 3rem;
    position: relative;
}

.nom_card button {
    border-radius: 50%;
    background: #ffffff;
    color: #A1E49B;
    font-size: 20pt;
    line-height: 5pt;
    height: 20pt;
    width: 20pt;
    border: none;
    position: absolute;
    left: -20%;
    top: 0;
}

.nom_card button:hover {
    background-color: #A1E49B;
    color: #ffffff;
    /* filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)); */
}

#slide {
    margin-bottom: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 0;
    right: -200%;
    opacity: 0;
    transition: all .75s ease;
}

#slide.show {
    opacity: 1;
    right: 0;
}


/* MOVIE SEARCH RESULTS */

#searchresults {
    margin-top: 20%;
    margin-right: 25%;
    margin-left: 7%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* MOVIE CARD */

.card {
    padding-top: 1rem;
    width: 200px;
    text-align: center;
    position: relative;
}

.card img {
    height: 200px;
}

.card h5 {
    margin: 5px 0 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.card button {
    border-radius: 50%;
    background: #A1E49B;
    color: #ffffff;
    font-size: 24pt;
    line-height: 5pt;
    height: 24pt;
    width: 24pt;
    border: none;
    position: absolute;
    right: 8%;
    bottom: 18%;
}

.card button:hover {
    background-color: #ffffff;
    color: #A1E49B;
}

.card button:before {
    background: linear-gradient(45deg, #70f064, #ffffff);
}

.nom_card button:before {
    background: linear-gradient(45deg, #fe4401, #fcde70);
}

.card button:before,
.nom_card button:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 50%;
}

.card button:hover:before,
.nom_card button:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}